<!DOCTYPE html>
<html>
  <!-- This loads the Collect Checkout JS file. Make sure to use your Checkout key. -->

  <script
    src="https://secure.networkmerchants.com/token/CollectCheckout.js"
    data-checkout-key="checkout_public_wDb8q95zg479zA9GF3pGqr9U3TG2dm87"
  ></script>

  <script>
    (function () {
      function initiateCheckout() {
        CollectCheckout.redirectToCheckout({
          lineItems: [
            {
              sku: "{{ data.sku }}",
              quantity: "{{ data.qty }}",
              amount: "{{data.amount}}",
            },
          ],
          type: "sale",
          collectShippingInfo: true,
          customerVault: {
            addCustomer: true,
          },
          receipt: {
            showReceipt: true,
            redirectToSuccessUrl: false,
          },
        }).then((error) => {
          console.log(error);
        });
      }

      initiateCheckout();
    })();
  </script>
</html>
