<!DOCTYPE html>
<html>
    <!-- This loads the Collect Checkout JS file. Make sure to use your Checkout key. -->
    <script src="https://secure.networkmerchants.com/token/CollectCheckout.js"
            data-checkout-key="checkout_public_wDb8q95zg479zA9GF3pGqr9U3TG2dm87"></script>

    <!-- This is the element on your page that we’re using to trigger Collect Checkout. -->
    <button id="checkout_button">Checkout Now</button>

    <!--
        You must run CollectCheckout.redirectToCheckout to send the customer to your cart.
        This is using a click on a specific div, but you can make this anything you like.
        All configuration happens in an object passed into redirectToCheckout.
    -->
    <script>
    document.getElementById('checkout_button').addEventListener('click', function (e) {
        CollectCheckout.redirectToCheckout({
            lineItems: [{
                sku: "{{ data.sku }}",
                quantity: "{{ data.qty }}"
            }],
            type: "sale",
            collectShippingInfo: true,
            customerVault: {
                addCustomer: true
            },
            receipt: {
                showReceipt: true,
                redirectToSuccessUrl: false
            }
        }).then((error) => {
            console.log(error);
        });
    });

    </script>
</html>